doctype html
html
  head 
    link(rel='stylesheet', href='/css/styles.css')
    title Perfil de #{user.nombre}
  body
    h1 Perfil de #{user.nombre}
    p ID del usuario: #{user.id}
    p Correo: #{user.correo}
    p Telefono: #{user.telefono}
    p Direccion: #{user.direccion}
    p Foto: #{user.foto}
